{% trans_default_domain 'netzmacht_workflow' %}

<h2 class="sub_headline">{{ "history"|trans }}</h2>

<div class="workflow-content-box">
<table class="workflow-history">
    <thead>
        <tr>
        {% for column in columns %}
            <th>{{ ('history.' ~ column)|trans }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% for state in history %}
        <tr class="workflow-history-state{% if state.successful is defined and not state.successful.value %} transition-failed{% endif %}">
            {% for name, value in state %}
                <td class="workflow-history-{{ name }}">
                    {% if block(name) is defined %}
                        {{ block(name) }}
                    {% else %}
                    {{ value }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>

{% block user %}
    {% if value is defined %}
        {% if value is iterable %}
            {{ value.name }} <span class="tl_gray">[{{ value.username }}]</span>
        {% else %}
            {{ value }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block target %}
    {% if value is defined %}
        {{ value.step }} <span class="tl_gray">[{{ value.workflow }}]</span>
    {% endif %}
{% endblock %}

{% block successful %}
    {% if value is defined %}{{ value.label }}{% endif %}
{% endblock %}
