<h2 class="sub_headline">{{ headline }}</h2>

{% if description %}
<div class="workflow-content-box">
    <p>{{ description }}</p>
</div>
{% endif %}

<div class="workflow-content-box">
    <div class="tl_header">
        <table class="tl_header_table">
            <tbody>
            <tr>
                <td><span class="tl_label">{{ 'workflow.workflowName'|trans }}</span></td>
                <td>{{ workflow.label }}</td>
            </tr>
            <tr>
                <td><span class="tl_label">{{ 'workflow.currentStep'|trans }}</span></td>
                <td>{{ currentStep != null ? currentStep.label : '-' }}</td>
            </tr>
            {% if item.latestState %}
                <tr>
                    <td><span class="tl_label">{{ 'workflow.reachedAt'|trans }}</span></td>
                    <td>{{ item.latestState.reachedAt.format('d.m.Y H:i') }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
